html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

body {
  background: #f8f9fa;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
input[type=submit] {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
input[type=submit]:hover {
  background: #0056b3;
}