html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}

body {
  background-color: rgb(219, 219, 219);
  padding: 10px;
  margin: 1em 1em 1em 0em;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em 1em 1em 1em;
}

a {
  color: black;
  text-decoration: none;
}

.bordered {
  border: 2px outset black;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

.site_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(219, 219, 219);
}

/* TODO: Fix the header! */

.site_header .logo {
  align-items: start;
  margin: 0px 20px 0px 0px;
}

.site_header h1 {
  align-items: start;
  gap: 20px;
}

.site_header nav {
  display: none;
  margin-left: auto;
}

.sidebar {
  display: none;
}

.burger {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  padding: 1em;
}

.burger span {
  width: 25px;
  height: 2px;
  background: black;
  display: block;
}

.site_footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.site_footer nav ul {
  display: flex;
  gap: 1em;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .site_header nav {
    display: block;
  }

  .site_header nav ul {
    display: flex;
    gap: 1em;
    list-style: none;
  }

  .sidebar {
    display: flex;
    border: 2px outset black;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0em 1em 0em;
  }

  .sidebar .widget {
    align-self: stretch;
    justify-self: stretch;
    padding: 1em;
  }

  .widget img {
    width: 100%;
    height: auto;
  }

  .site_footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {

  body {
    grid-template-columns: 1fr 8fr 1fr;
  }

  .site_header {
    grid-column: 2;
  }

  .site_footer {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1em 0em 0em;

  }

  main {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  article {
    grid-column: 1;
  }

  /* article .bordered {
    display: flex;
  } */

  /* aside {
    grid-column: 2;
  } */



  .bordered {
    margin: 1em 1em 1em 0em;
  }

  .sidebar {
    grid-column: 2;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;
  }

  .widget {
    align-self: stretch;
    justify-self: stretch;
  }

  .widget h3 {
    margin: 0px;
  }

  .widget img {
    width: 100%;
    height: auto;
  }
}